.form {
  width: 100%;
  max-width: 350px;
  padding: 2em 1.5em;
  background-color: white;
  position: relative;
}

.form_x {
  position: absolute;
  right: 1em;
  font-size: 1.5rem;
  color: red;
  top: 0.8em;
  cursor: pointer;
  transition: transform 100ms ease;
}

.form_x:hover {
  transform: scale(1.1);
}

.form_title {
  margin-bottom: 0.5em;
  color: #555a88;
}

.form_div {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  margin-bottom: 0.8em;
}

.form_div:nth-child(7) {
  margin-bottom: 2em;
}

.form_label {
  position: relative;
  left: 0.8em;
}

.form_input {
  font-size: 1rem;
  font-weight: 100;
  padding: 0.5em 0.8em;
  border-radius: 0.2em;
  border: 1px solid #aaaa;
  background-color: rgb(250, 255, 255);
}

.form_btn {
  width: 100%;
  padding: 0.8em;
  color: white;
  background-color: #555a88;
  transform: filter 100ms ease;
  font-size: 1rem;
}

.form_bt:hover {
  filter: brightness(1.2);
}
