.card {
  width: 100%;
  max-width: 300px;
  padding: 1.8em 1.5em;
  border-radius: 0.5em;
  border: 1px solid #aaa7;
  transition: transform 200ms ease;
  background-color: rgb(199, 205, 230);
}

.card:hover {
  transform: scale(1.05);
}
.card_title {
  margin-bottom: 0.5em;
  font-size: 1.5rem;
  color: rgb(35, 164, 199);
}

.card_body {
  display: grid;
  gap: 0.5em;
  margin-bottom: 1.2em;
}

.card_item {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  color: rgb(17, 82, 100);
}

.card_span {
  text-transform: uppercase;
  color: rgb(182, 149, 149);
  font-size: 0.8rem;
  position: relative;
  left: 1em;
}

.card_footer {
  display: flex;
  justify-content: flex-end;
  gap: 0.8em;
}

.card_bth {
  width: 2em;
  aspect-ratio: 1;
  font-size: 1.2rem;
  padding: 0.4em;
  border-radius: 0.2em;
}

.card_btn_trash {
  color: white;
  background-color: #d85d5d;
}
.card_btn_edit {
  color: #aaa;
  border: 1px solid currentColor;
}

.card_btn:hover {
  box-shadow: 0 0 0.4em #0004;
  transition: box-shadow 100ms ease;
}
