.form_container {
   position: fixed;
   width: 100%;
   min-height: 100vh;
   display: flex;
   background-color: #0004;
   z-index: 1;
   top: 0;
   justify-content: center;
   align-items: center;
   backdrop-filter: blur(2px);
}

.close_form {
   transform: translate(-150%);
}
.form__title {
   display: flex;
   justify-content: center;
   color: #1c83ba;
   padding: 1.2em;
   font-size: 600;
}

.app_btn {
   background-color: #3d4061;
   font-size: 1.1rem;
   padding: 0.4em 2em;
   color: white;
   position: absolute;
   right: 0;
   left: 0;
   margin-top: 0.1em;
   transition: transform 400ms ease;
}
.app_btn:hover {
   transform: scale(1.2);
}

.user-container {
   display: flex;
   width: 100%;
   max-width: 1200px;
   gap: 2em;
   justify-content: center;
   flex-wrap: wrap;
   margin-left: auto;
   margin-right: auto;
   padding: 3em;
}
